@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');

li{
    list-style: none;
    display: flex;
}

span, h4, p{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

html{
    font-size: 16px;
}

img{
    max-width: 100%;
}

.asideTextLibrary{
    font-size: 16.5px;
    margin-left: 0.4em;
    padding-top: 0.2rem;
}

.asideImgLibrary{
    margin-top: 0.25rem;
}

.asideTextHistory{
    font-size: 16.5px;
    margin-left: 0.4em;
    padding-top: 0.2rem;
}

.asideImgHistory{
    margin-top: 0.17rem;
}

.headerImg{
        margin-top: 1.7rem;
    margin-left: -4rem;
}

.asideTextWatchLater{
    font-size: 16.5px;
    margin-left: 0.4em;
    padding-top: 0.2rem;
}

.asideImgWatchLater{
    margin-top: 0.33rem;
    margin-left: 0.1rem;
}

.asideTextFavourites{
    font-size: 16.5px;
    margin-left: 0.4em;
    padding-top: 0.2rem;
}

.asideImgFavourites{
    margin-top: 0.1rem;
}

.asideTextLikedVideos{
    font-size: 16.5px;
    margin-left: 0.45em;
    padding-top: 0.2rem;
}

.asideImgLikedVideos{
    margin-top: 0.1rem;
}

.asideTextMusic{
    font-size: 16.5px;
    margin-left: 0.45em;
    padding-top: 0.2rem;
}

.asideImgMusic{
    margin-top: 0.15rem;
}

.asideTextGames{
    font-size: 16.5px;
    margin-left: 0.35em;
    padding-top: 0.17rem;
}

.asideImgGames{
    margin-top: 0.3rem;
    margin-left: -0.1rem;
}

.asideTextSubscriptions{
    font-size: 16.5px;
    margin-left: 0.45em;
    padding-top: 0.1rem;
}

.asideImgSubscriptions{
    margin-top: 0.1rem;
}

.asideTextShowMore{
    font-size: 16.5px;
    margin-left: 0.5em;
    padding-top: 0.2rem;
}

.asideImgShowMore{
    margin-top: 0.55rem;
    margin-left: 0.2rem;
}

.asideText{
    font-size: 16.5px;
    margin-left: 0.47em;
    padding-top: 0.1rem;
}

.asideImg{
    margin-bottom: 0.5rem;
}
.asideImgTrending{
    margin-left: 0.1rem;
}

.body{
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
}

.asideMenu{
    font-family: 'Mulish', sans-serif;
    display: flex;
    flex-direction: column;
    color: #898989;
}

.HomeText{
    font-size: 16.5px;
        color: #FF0000;
        margin-bottom: 0.5rem;
        margin-left: 0.35em;
}

.asideMenu li{
    margin-bottom: 25px;
}

.asideMenu li img{
    margin-right: 7px;
}

.asideDiv{
    width: 16.5%;
    margin-top: 2rem;
    margin-left: -1rem;
}

.videosDiv{
    width: 83.5%;
}

.videoName{
    font-weight: bold;
    letter-spacing: 0.3px;
}

.videoNameReccomended{
    font-weight: bold;
    letter-spacing: 0.3px;
}

.videoReccomended{
    display: inline-block;
    margin-right: 2.5rem;
    margin-top: -0.25rem;
}

.video{
    display: inline-block;
    margin-right: 2.7rem;
    margin-left: -0.25rem;
}

.video:first-child{
    margin-top: 0.25rem;
}

.video:nth-child(3){
    margin-left: -0.15rem;
}

.video:nth-child(4),.video:nth-child(5),.video:nth-child(6){
    margin-left: -0.2rem;
}

.video2{
    display: inline-block;
    margin-right: 2.3rem;
    margin-top: 0.22rem;
}

.menu{
    display: flex;
    left: -2rem;
    align-items: center;
}

.widthClassReccomended{
    width: auto;
    position: relative;
    margin-bottom: 0.38rem;
}

.widthClass, .widthClass2, .widthClass3{
    width: auto;
    position: relative;
    margin-top: 1.35rem;
    margin-bottom: 0.4rem;
}

.time,.time3{
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 12px;
    position: absolute;
    left: 77.3%;
    right: 4%;
    top: 76%;
    bottom: 9%;
}

.timeNumber2{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    left: 20%;
    top: -12px;
    right: 6%;
}

.timeNumber,.timeNumber3{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    left: 20%;
    top: -12px;
    right: 6%;
}

.textRightFood{
    margin-top: 0.1rem;
    margin-left: -0.1rem;
    width: 10%;
}

.textViews{
    width: 70%;
    margin-top: 0.1rem;
}

.textViewsReccomended{
    width: 70%;
    margin-top: 0.2rem;
}

.time2{
    background-color: #000000;
    mix-blend-mode: normal;
    height: 23.11px;
    width: 46.75px;
    opacity: 0.3;
    border-radius: 12px;
    position: absolute;
    right: 0.6rem;
    top: 7.3rem;
}

.timeNumber2{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    left: 0.55rem;
    bottom: -9px;
}

 .search{
    background: #EBEBEB;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 22px;
    width: 62.5%;
    height: 2.4rem;
}

.searchDiv{
    position: relative;
    display: flex;
    width: 70%;
    align-items: center;
    margin-top: -0.4rem;
}

.leftMenu{
    margin-right: 20px;
}

.searchImg{
    position: absolute;
    left: 49.3rem;
    top: 0.9rem;
}

.header{
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    margin-left: 1.5rem;
    justify-content: space-between;
}

.youTubeIconBlock{
    margin-left: 0.5rem;
}

.asideSetting{
    margin-top: 2.9rem;
    margin-left: 0.35rem;
}

.asideSettingImg{
    margin-top: 2.9rem;
    margin-left: 0.1rem;
}

.name{
    margin-left: 2.4rem;
    margin-top: 1.05rem;
    color: #19202C;
    letter-spacing: 0.02rem;
    font-size: 18px;
}

.name2{
    margin-left: 2.45rem;
    margin-top: 1.05rem;
    color: #19202C;
    letter-spacing: 0.9px;
    font-size: 25px;
    font-weight: bold;
}

.nameReccomended{
    margin-top: 3rem;
    color: #19202C;
    letter-spacing: 0.02rem;
    font-size: 26px;
}

.asideLi{
    margin-top: 2rem;
}

.asideLi2{
    margin-top: 2.1rem;
}

.asideUserAvatar{
    margin-top: -0.6rem;
    margin-left: -0.1rem;
}

.asideUserName{
    margin-top: -0.4rem;
    margin-left: 0.1rem;
}

.accountName{
    width: 10rem;
    font-size: 26px;
    margin-left: 1.25rem;
    margin-top: 3.5rem;
    letter-spacing: 0.03rem;
}

.accountAvatar{
    width: 21%;
    height: 70%;
    margin-top: 1.8rem;
    margin-left: 0.5rem;
}

.videoContent{
    margin-left: -4rem;
}

.server{
    display: flex;
    flex-direction: row;
    margin-left: -0.5rem;
}

.foodDrinkName{
    margin-top: 2.85rem;
    width: 22%;
    height: 45%;
}

.blockName{
    display: flex;
    width: 70%;
}

.nameFoodDrink{
    margin-left: 0.75em;
    margin-top: 3.6rem;
    color: #19202C;
    letter-spacing: 0.03rem;
    font-size: 26px;
    white-space: nowrap;
}

.recommended{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
padding-top: 40px;
margin-left: 15px;
margin-top: 2px;
color: #C2C2C2;
}

.recommendedFood{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 4.2rem;
    margin-left: 1.3em;
    color: #C2C2C2;
}

.reccomendedChannel{
    white-space: nowrap;
}

.narrow{
    display: flex;
    right: 0;
    margin-top: 3.9rem;
    margin-right: 7.6rem;
}

.narrow2{
    display: flex;
    right: 0;
    margin-top: 3.3rem;
    margin-right: 7.5rem;;
}

.narrow div,.narrow2 div{
    margin-left: 10px;
}

.videoImg{
    width: 100%;
}

.recommend{
    margin-right: 1.9rem;
    margin-top: -0.45rem;
}

.bodyVideo{
    display: table-row;
    overflow-x: hidden;
    width: 100%;
    white-space: nowrap;
}

.avatar{
    display: flex;
    align-items: center;
    margin-right: 2.6rem;
}

.rightMenuFirst{
    margin-right: 4.1rem;
    margin-left: -1rem;
}

.rightMenuSecond{
    margin-right: 4.1rem;
    margin-left: -1rem;
}

.rightMenuThird{
    margin-right: 2.8rem;
    margin-left: -1rem;
    margin-top: -0.5rem;
}

.videoText{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
    letter-spacing: 0.6px;
}

.videoText2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
}

.videoText3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
    letter-spacing: 1px;
    margin-left: 0.25rem;
}

.videoTextReccomended{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
}

.videoText2Reccomended{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
}

.videoText3Reccomended{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
    letter-spacing: 1px;
    margin-left: 0.25rem;
}

.text{
    margin-top: 0.4rem;
}

.videoTextName{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #C2C2C2;
    letter-spacing: 0.3px;
}

.textRight{
    margin-top: 0.12rem;
    margin-left: 0.7rem;
    width: 10%;
}

.textRightReccomended{
    margin-top: 0.2rem;
    margin-left: 5.3rem;
    width: 10%;
}

.textRightReccomendedSecond{
    margin-top: 0.2rem;
    margin-left: 4.3rem;
    width: 10%;
}

.textRightReccomendedThird{
    margin-top: 0.2rem;
    margin-left: 6.4rem;
    width: 10%;
}

.profileInformation{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-between;
}

.profileInformation2{
    display: flex;
    flex-direction: row;
    margin-top: 1.3rem;
    margin-left: -4rem;
    justify-content: space-between;
}

.rightMenuNotification{
    margin-right: 1.2rem;
    margin-top: -0.8rem;
}

.rightMenuSubscribe{
    margin-top: -1.1rem;
}

.profileNavigation{
    display: flex;
    margin-left: -4rem;
    padding-left: 0;
    margin-top: 0.7rem;
}

.profileSubscribe{
    display: flex;
    align-items: center;
    margin-right: 2.6rem;
}

.profileSubscribes{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
margin-top: 2px;
margin-left: 15px;

color: #C2C2C2;
}

.profileName{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    margin-top: 1rem;
    letter-spacing: 0.6px;
    margin-left: 0.8rem;
    margin-bottom: 0rem;
    color: #19202C;
}

.profileVideoName{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    width: 70%;
    color: #19202C;
    margin-left: -12.4rem;
    margin-top: 1.1rem;
    letter-spacing: 0.4px;
}

.profileVideoName2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    width: 70%;
    color: #19202C;
    margin-left: -12.4rem;
    margin-top: 1.2rem;
    letter-spacing: 0.5px;
}

.videoInformation{
    margin-top: 1.1rem;
    width: 40%;
}

.profileVideoText{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #000000;
mix-blend-mode: normal;
opacity: 0.6; 
margin-left: -11.9rem;
}

.videoDescript{
    margin-top: 0.65rem;
    margin-left: -0.5rem;
}

.profileInformationRecommended{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 1.55rem;
    color: #19202C;
}

.upperText{
    margin-top: 15px;
    margin-left: 1.25rem;
    letter-spacing: 0.3px;
}

.profileInformationAside{
    width: 20%;
    margin-right: 4.1rem;
    margin-top: 1.7rem;
}

.profileVideo{
    margin-left: 20px;
    margin-top: 5px;
}

.profileVideoViews{
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #C2C2C2;
margin-left: 20px;
}

.divName{
    margin-top: 3.65rem;
    margin-left: -2.4rem;
}

.videosFooterDiv{
    margin-left: -3.7rem;
}

.profileBody{
    width: 100%;
    margin-left: -3.6rem;
    padding-left: 3.6rem;
}

.profileVideoViews2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C2C2C2;
    margin-left: 0.2rem;
    letter-spacing: 1.5px;
}

.profileVideoViews3{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C2C2C2;
}

.profileNavigation li{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-right: 4.4rem;
    margin-bottom: 20px;
    color: #000000;
}

.profileNavigation li:nth-child(2),.profileNavigation li:nth-child(4),.profileNavigation li:nth-child(5),.profileNavigation li:nth-child(6){
    margin-right: 4.3rem;
}

.profileNavigation li:nth-child(3){
    margin-right: 4.5rem;
}

.profileNavigation .home{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FF0000;
}

.underText{
    background-color: #FF0000;
    width: 3.6rem;
    margin-left: -4.2rem;
    margin-top: -2rem;
    size: a3;
}

.divProfileVideoViews{
    margin-top: 1.85rem;
    margin-left: -13.7rem;
}

.recommendedChannelText{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
    margin-top: -0.9rem;
    margin-bottom: 1.9rem;
    margin-left: 2.5rem;

}

.profileInformationVideo{
    display: flex;
    flex-direction: row;
    margin-top: 3.3rem;
    margin-left: -4rem;
    justify-content: space-between;
}

.videoBlock{
    width: 85%;
}

.videoView{
    width: 75%;
    margin: 10px 30px 5px 30px;
}

.videoName3{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
margin-top: 8px;
margin-bottom: 5px;
color: #192646;
}

.videoParametrs{
    display: flex;
    width: 85%;
    justify-content: end;
}

.videoParametrs img{
    margin-left: 20px;
}

.marginHr{
    margin-top: 10px;
}

.videoCharasteristic{
    display: flex;
    justify-content: space-between;
}

.videoViews3{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #C2C2C2;
}

.channelName{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 33px;
color: #19202C;
margin-bottom: 5px;
}

.videoDescription{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.6;
}

.videoDescriptionDiv{
    margin-top: 15px;
    margin-bottom: 15px;
}

.publishedText{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #C2C2C2;
}

.showMoreText{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #C2C2C2;
}

.nextText{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 45px;
margin-bottom: 0px;
color: #19202C;
}

.autoplayText{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 1px;

color: #19202C;
}

.asideVideoName{
    font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 33px;
color: #19202C;
margin-top: 10px;
margin-bottom: 10px;
}

.asideVideoView{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #C2C2C2;
}

.asideVideoChannel{
    font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

text-align: right;

color: #C2C2C2;
}

.channelAvatar{
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
}

.videoCharasteristic h4{
    margin-top: 10px;
}

.autoplay{
    display: flex;
    margin-top: 20px;
    width: 50%;
    justify-content: space-between;
}

.asideVideo{
    margin-top: 10px;
}

.asideVideosDiv{
    margin-right: 20px;
}

footer{
    display: none;
}

.mediaIcon{
    display: none;
}

.headerImgMedia2{
    display: none;
}

.hideArrow{
    display: none;
}

@media screen and (max-width: 640px) {
    .hideBlock {display: none; }

    .bodyVideo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 2048px;
        width: 680px;
    }

    .mediaIcon{
        display: block;
        margin-right: 1.2rem;
    }

    .headerName{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: bold;
        font-size: 31px;
        line-height: 33px;
        letter-spacing: 1.1px;
        color: #19202C;
    }

    .menuImgDots{
        margin-right: -17.2rem;
        height: 2.3rem;
    }

    .searchImg {
        left: 1.9rem;
        top: -1.1rem;
        height: 2.4rem;
    }

    .menuImg{
        height: 3.2rem;
        margin-top: 0.1rem;
        margin-left: -0.1rem;
    }

    .menu{
        width: 200%;
    }

    .headerText{
        margin-top: -0.4rem;
    }

    .rightMenu{
        width: 20px;
        margin-right: -1.2rem;
        margin-left: 1.1rem;
    }

    .body{
        width: 750px;
        margin-left: -0.4rem;
        height: 1844px;
    }

    .headerImg{
        width: 640px;
        margin: 0;
        margin-left: -0.1rem;
        height: 202px;
        margin-top: 2.5rem;
    }

    .headerImgMedia{
        display: none;
    }

    .headerImgMedia2{
        display: block;
        width: 640px;
    }

    .profileInformation, .profileInformation2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .profileImg{
        margin-left: 5.9rem;
        margin-top: -6.1rem;
    }

    .profileAvatar{
        width: 140px;
    }

    .profileName{
        margin-top: 0.55rem;
        margin-left: 5.9rem;
        font-size: 39px;
        letter-spacing: 1.2px;
        margin-bottom: 1.5rem;
    }

    .profileSubscribes{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 16px;
        margin-left: 5.9rem;
        color: #C2C2C2;
        letter-spacing: 0.6px;
    }

    .profileSubscribe{
        margin-top: 3.35rem;
        margin-left: 2rem;
        height: 107px;
        width: 240px;
    }

    .subImg{
        height: 69px;
        margin-top: -2.6rem;
        object-fit: cover;
        border-radius: 41px;
    }

    .profileNavigation{
        margin-left: 1.9rem;
    }

    .underText{
        margin-left: 1.6rem;
        margin-top: -1.3rem;
        size: a4;
        width: 6rem;
    }

    .hideArrow{
        display: block;
        margin-left: 2.6rem;
        margin-top: 0.3rem;
        width: 21px;
    }

    .profileNavigation .home{
        font-size: 28px;
        letter-spacing: 0.5px;
    }

    .profileNavigation li:nth-child(2){
        font-size: 28px;
        margin-left: 0.6rem;
    }

    .profileNavigation li:nth-child(3){
        font-size: 28px;
        margin-left: 0.8rem;
    }

    .profileNavigation li:nth-child(8){
        font-size: 28px;
        margin-left: -6.4rem;
    }

    .video{
        height: 28rem;
        margin-left: 5.6rem;
        width: 640px;
    }

    .widthClass{
        height: 18.7rem;
        width: 36rem;
        border-radius: 20px;
    }

    .widthClass2{
        height: 18.7rem;
        width: 36rem;
        border-radius: 20px;
        margin-top: 1.8rem;
    }

    .widthClass3{
        height: 18.7rem;
        width: 36rem;
        border-radius: 20px;
        margin-top: 2.55rem;
        margin-left: 5.7rem;
    }

    .videoImg{
        width: 100%;
        display: block;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .time{
        background-color: #000000;
        mix-blend-mode: normal;
        opacity: 0.3;
        border-radius: 23px;
        position: absolute;
        left: 80.4%;
        right: 1.2rem;
        top: 77.5%;
        bottom: 6.25%;
    }
    
    .timeNumber{
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        position: absolute;
        left: 20%;
        top: -21px;
        right: 6%;
        font-size: 28px;
    }

    .time2{
        background-color: #000000;
        mix-blend-mode: normal;
        opacity: 0.3;
        border-radius: 23px;
        position: absolute;
        left: 77.4%;
        right: 3.2rem;
        top: 69.25%;
        bottom: 28.45%;
    }
    
    .timeNumber2{
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        position: absolute;
        left: 17%;
        top: -22px;
        right: 6%;
        font-size: 28px;
    }

    .time3{
        background-color: #000000;
        mix-blend-mode: normal;
        opacity: 0.3;
        border-radius: 23px;
        position: absolute;
        left: 77.4%;
        right: 3.3rem;
        top: 91.69%;
        bottom: 5.95%;
    }
    
    .timeNumber3{
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        position: absolute;
        left: 17%;
        top: -21.9px;
        right: 6%;
        font-size: 28px;
    }

    .textViews{
        width: 70%;
        margin-top: 1.1rem;
    }

    .text{
        margin-top: 1rem;
    }

    .videoName{
        font-weight: bold;
        letter-spacing: 0.15px;
        font-size: 33px;
    }

    .textViews{
        width: 70%;
        margin-top: 1.1rem;
    }

    .textViews:nth-child(2){
        margin-top: 1.1rem;
    }

    .videoText{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 15px;
        color: #C2C2C2;
        letter-spacing: 0.6px;
    }
    
    .videoText2{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 15px;
        color: #C2C2C2;
        letter-spacing: 0.5px;
        margin-left: -0.1rem;
    }
    
    .videoText3{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 15px;
        color: #C2C2C2;
        letter-spacing: 3.9px;
        margin-left: 0.4rem;
    }

    .textRightFood{
        margin-top: 1.1rem;
        margin-left: -1.5rem;
        width: 10%;
    }

    .textRightFood:nth-child(2){
        margin-top: 1.1rem;
    }

    .footer{
        display: flex;
    }

    footer{
        display: block;
        position: absolute;
        bottom: 1.6rem;
    }

    .footerHr{
        margin-left: -0.5rem;
        margin-bottom: 4rem;
        width: 39.8rem;
    }

    .footerText2{
        font-family: 'Mulish', sans-serif;
        display: flex;
        flex-direction: column;
        color: #898989;
        font-size: 20.5px;
        letter-spacing: -0.2px;
    }

    .footerText3{
        font-family: 'Mulish', sans-serif;
        display: flex;
        flex-direction: column;
        color: #898989;
        font-size: 20.5px;
        letter-spacing: -0.2px;
    }

    .footerText4{
        font-family: 'Mulish', sans-serif;
        display: flex;
        flex-direction: column;
        color: #898989;
        font-size: 20.5px;
        letter-spacing: -0.2px;
    }

    .footerTextHome{
        font-size: 20.5px;
        color: #898989;
        margin-left: 0.35em;
    }

    .footerTextDiv{
        margin-left: 2.1rem;
        margin-top: 0.5rem;
        margin-bottom: -0.3rem;
    }

    .footerTextDiv2{
        margin-left: 2.2rem;
        margin-top: 0.2rem;
        margin-bottom: -0.3rem;
    }

    .footerTextDiv3{
        margin-left: 0.15rem;
        margin-top: 0.5rem;
        margin-bottom: -0.3rem;
    }

    .footerTextDiv4{
        margin-left: 0.85rem;
        margin-top: 0.4rem;
        margin-bottom: -0.3rem;
    }

    .imgFooter{
        margin-top: -1.25rem;
        width: 2.5rem;
        margin-left: 3.05rem;
        margin-bottom: -0.15rem;
    }

    .imgFooter2{
        margin-top: -0.4rem;
        width: 2rem;
        margin-left: 3.8rem;
    }

    .imgFooter3{
        margin-top: -0.7rem;
        width: 2.3rem;
        margin-left: 3.05rem;
        margin-bottom: -0.15rem;
    }

    .imgFooter4{
        margin-top: -0.2rem;
        width: 2.5rem;
        margin-left: 1.7rem;
    }

    .footerImgDiv{
        margin-top: -0.7rem;
    }

    .footerImgDiv2{
        margin-top: -1.8rem;
    }

    .footerImgDiv3{
        margin-top: -1.25rem;
    }

    .footerImgDiv4{
        margin-top: -1rem;
    }

    .divForFooter{
        margin-left: 0rem;
        margin-top: -0.5rem;
    }

    .divForFooter2{
        margin-left: 3.5rem;
        margin-top: -0.5rem;
    }

    .divForFooter3{
        margin-left: 3.5rem;
        margin-top: -0.5rem;
    }

    .divForFooter4{
        margin-left: 3.5rem;
        margin-top: -1rem;
    }
}